---
layout: page
title: Nabídka vín
excerpt: Aktualní nabídka vín rodinného vinařství Pelánek. Tyto vína lze zakoupit jak online prostřednictvím našeho eshopu, tak osobně ve sklípku ve Velké Bíteši.
---

<section>
	{% for wine in site.wines %}

	{% if wine.disabled != true %}
	<section class="wine simpleCart_shelfItem">
		<div class="image">
			{% if wine.image %}
			<img src="images/wines/{{wine.image}}" alt="" />
			{% else %}
			<!-- TODO add different default image -->
			<img src="images/default-glass.jpg" alt="" />
			{% endif %}
		</div>
		<div class="content">
			<h3 class="item_name">{{ wine.name }} {{ wine.year }}</h3>

			<ul class="wine-properties">
				{% if wine.category %}
				<li>Kategorie: {{ wine.category }}</li>
				{% endif %}
				{% if wine.brix %}
				<li>Cukernatost hroznů při sklizni: {{ wine.brix }}° ČNM</li>
				{% endif %}
				{% if wine.residual-sugar %}
				<li>Zbytkový cukr: {{ wine.residual-sugar }} g/l</li>
				{% endif %}
				{% if wine.total-acidity %}
				<li>Celková kyselina: {{ wine.total-acidity }} g/l</li>
				{% endif %}
				{% if wine.alcohol %}
				<li>Alkohol: {{ wine.alcohol }}% obj.</li>
				{% endif %}
				{% if volume %}
				<li>Objem: {{ volume }} l</li>
				{% endif %}
				<li class="item_price">Cena: {{ wine.price }}Kč</li>
			</ul>

			<div class="justify">{{ wine.content }}</div>

			{% if wine.sold-out != true %}
			
				
			{% if wine.selection %}
			<div class="wine-selection">
				<label for="selection">Vyberte variantu:</label>
				<select name="selection" class="item_selection" required>
					{% for selection in wine.selection %}
					<option value="{{ selection }}"> {{ selection }} </option>
					{% endfor %}
				</select>
			</div>
			{% endif %}
			
			<div>
				<ul class="actions center">
					<li><a class="item_add button" href="javascript:;">Přidat do košíku</a></li>
				</ul>
			</div>
			{% endif %}
		</div>
	</section>
	{% endif %}

	{% endfor %}
</section>

<hr />

<section>
	<ul class="actions center">
		<li><a href="kosik.html" class="button special">Do košíku</a></li>
		<li><a href="index.html" class="button">Zpět na hlavní stránku</a></li>
	</ul>
</section>