---
layout: page
title: Nabídka vín
---

<p>

</p>

<p>

</p>

<section>
	{% for wine in site.wines %}
	<section class="wine simpleCart_shelfItem">
		<div class="image">
			{% if wine.image %}
			<img src="images/wines/{{wine.image}}" alt="" />
			{% else %}
			<!-- TODO add different default image -->
			<img src="images/default-glass.jpg" alt="" />
			{% endif %}
		</div>
		<div class="content">
			<h3 class="item_name">{{ wine.name }} {{ wine.year }}</h3>

			<ul class="wine-properties">
				<li>Kategorie: {{ wine.category }}</li>
				<li>Cukernatost hroznů při sklizni: {{ wine.brix }}°ČNM</li>
				<li>Zbytkový cukr: {{ wine.residual-sugar }}</li>
				<li>Celková kyselina: {{ wine.total-acidity }}</li>
				<li>Alkohol: {{ wine.alcohol }}%</li>
				<li class="item_price">Cena: {{ wine.price }}Kč</li>
			</ul>

			<p class="justify">{{ wine.text }}</p>

			<ul class="actions center">
				<li><a class="item_add button" href="javascript:;">Přidat do košíku</a></li>
			</ul>
			
		</div>
	</section>
	{% endfor %}
</section>

<hr />

<section>
	<ul class="actions center">
		<li><a href="cart.html" class="button special">Do košíku</a></li>
		<li><a href="index.html" class="button">Zpět na hlavní stránku</a></li>
	</ul>
</section>