---
layout: page
title: Nabídka vín
---

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id lacus vel velit varius pulvinar ut a lectus. Sed accumsan tincidunt scelerisque. Phasellus risus nulla, viverra vel dapibus in, condimentum vitae odio. Praesent id lobortis purus, sed rutrum orci. Nulla condimentum nunc eu lacus luctus, at fermentum orci imperdiet. Etiam a malesuada mi. Fusce egestas blandit massa. Aliquam non ante quis lorem eleifend venenatis id vitae sem. Praesent imperdiet enim facilisis, tristique massa vel, aliquet metus.
</p>

<p>
Cras nec metus lacus. Etiam egestas at eros eu cursus. Quisque vel tellus mauris. Aliquam mollis, tortor eu placerat commodo, eros dui fermentum ex, id gravida dolor neque in augue. Nullam quis dapibus nisi. Quisque in mattis odio. Mauris vitae mauris lorem. Vivamus ac efficitur metus, in vulputate odio. Morbi lobortis est ac massa elementum interdum. Morbi ultrices velit eget mi elementum, at dictum sapien maximus. Mauris vitae aliquet nunc, vel dignissim quam. Mauris nec diam dui.
</p>

<section>
	{% for wine in site.wines %}
	<section class="wine">
		<div class="image">
			{% if wine.image %}
			<img src="images/wines/{{wine.image}}" alt="" />
			{% else %}
			<!-- TODO add different default image -->
			<img src="images/default-glass.jpg" alt="" />
			{% endif %}
		</div>
		<div class="content">
			<h3>{{ wine.name }} {{ wine.year }}</h3>

			<ul class="wine-properties">
				<li>Kategorie: {{ wine.category }}</li>
				<li>Cukernatost hroznů při sklizni: {{ wine.brix }}°ČNM</li>
				<li>Zbytkový cukr: {{ wine.residual-sugar }}</li>
				<li>Celková kyselina: {{ wine.total-acidity }}</li>
				<li>Alkohol: {{ wine.alcohol }}%</li>
				<li>Cena: {{ wine.price }}Kč</li>
			</ul>

			<p class="justify">{{ wine.text }}</p>
		</div>
	</section>
	{% endfor %}
</section>

<hr />

<section>
	<ul class="actions center">
		<li><a href="#" class="button special">Objednat</a></li>
		<li><a href="index.html" class="button">Zpět na hlavní stránku</a></li>
	</ul>
</section>