<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li >
        <a href="/cart.html" id="cart-menu">Košík <span class="fa fa-shopping-cart"></span> (<span class="simpleCart_quantity"></span>)</a>
      </li>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Domů</a></li>
            {% for page in site.pages %}
              {% unless page.exclude %}
                {% if page.title %}
                <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
              {% endunless %}
            {% endfor %}
            <!-- <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li> -->
          </ul>
        </div>
      </li>
      
    </ul>
  </nav>
</header>
