<!-- Scripts -->
<script src="{{ "./js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./js/jquery.scrollex.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "./js/util.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->

<script src="{{ "./js/simpleCart.js" | prepend: site.baseurl }}"></script>

{% if page.url == '/vina.html' %}
    <script src="{{ "./js/add-to-cart.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "./js/wine-selection.js" | prepend: site.baseurl }}"></script>
{% endif %}
{% if page.url == '/objednavka.html' %}
    <script src="{{ "./js/checkout.js" | prepend: site.baseurl }}"></script>
{% endif %}

<script src="{{ "./js/main.js" | prepend: site.baseurl }}"></script>

{% include google_analytics.html %}